########################################### \
######## MAIN PRINTER CONFIG FILE #########  + --> Entry file to configure your printer configuration :)
########################################### /

# This file is yours! Feel free to edit it in order to include all
# the needed components (adapted to your machine). Also, keep in mind
# that it will not be erased when updating the config using moonraker
# and it will be kept as you've set it.

# ----------------------------------------------------------------------------------------

#-------------------------#
#   HARDWARE COMPONENTS   #
#-------------------------#

# ---------------------------------------------------------------- PRINTER KINEMATICS ----> Select only one line
### --------------------------------------------------------------------------------------
[include config/kinematics/corexy.cfg]      # ex. Voron v2, Trident, ...
# ----------------------------------------------------------------------------------------

# ---------------------------------------------------------------------- MACHINE AXIS ----> Select only one line for each axis
### X axis -------------------------------------------------------------------------------
[include config/hardware/axis/X/1.8deg.cfg]
### Y axis -------------------------------------------------------------------------------
[include config/hardware/axis/Y/1.8deg.cfg]
### Z axis -------------------------------------------------------------------------------
[include config/hardware/axis/Z/V2.4_stock_1.8deg.cfg]
# ----------------------------------------------------------------------------------------

# ---------------------------------------------------------------- PRINTER DIMENSIONS ----> Select only one line
### --------------------------------------------------------------------------------------
[include config/hardware/axis/size/350mm.cfg]
# ----------------------------------------------------------------------------------------

# -------------------------------------------------------------------------- EXTRUDER ----> Select only one line
### 1. Motors configuration --------------------------------------------------------------
[include config/hardware/extruder/galileo2.cfg]
# ----------------------------------------------------------------------------------------

# ------------------------------------------------------------------------ HEATED BED ----
### --------------------------------------------------------------------------------------
[include config/hardware/bed_heaters/keenovo.cfg] # Used for most machines with NTC100K bed temperature sensors
# ----------------------------------------------------------------------------------------

# ----------------------------------------------------------------------------- PROBE ----> Select only one line
### --------------------------------------------------------------------------------------
[include config/hardware/probes/voron_tap.cfg]
# ----------------------------------------------------------------------------------------

# ------------------------------------------------------------------------------ FANS ----> You can select multiple lines
### --------------------------------------------------------------------------------------
[include config/hardware/fans/hotend_fan.cfg]
[include config/hardware/fans/part_fan.cfg]
[include config/hardware/fans/controller_fan.cfg]
# ----------------------------------------------------------------------------------------

# --------------------------------------------------------------- TEMPERATURE SENSORS ----> You can select multiple lines
### --------------------------------------------------------------------------------------
[include config/hardware/temperature_sensors/rpi_temp.cfg]
[include config/hardware/temperature_sensors/mcu_temp.cfg]
[include config/hardware/temperature_sensors/toolhead_mcu_temp.cfg]
[include config/hardware/temperature_sensors/chamber_temp.cfg]
# ----------------------------------------------------------------------------------------

# ------------------------------------------------------------------- LIGHTS AND LEDS ----
### --------------------------------------------------------------------------------------
[include config/hardware/lights/status_leds_effects.cfg] # Standard StealthBurner style LEDs

# --------------------------------------------------------------------- ACCELEROMETER ----> Select only one line
### --------------------------------------------------------------------------------------
[include config/hardware/accelerometers/adxl345_sb2040.cfg] # For ADXL plugged in Mellow Fly-SB2040 boards
# ----------------------------------------------------------------------------------------

# --------------------------------------------------------------------------- FILTERS ----> You can select multiple lines
### --------------------------------------------------------------------------------------
#[include config/hardware/filters/nevermore_filter.cfg]
# ----------------------------------------------------------------------------------------

#---------------------------------#
#   KLIPPER SOFTWARE COMPONENTS   #
#---------------------------------#

# -------------------------------------------------------------------------- BED MESH ----> Select only one line
### --------------------------------------------------------------------------------------
[include config/software/bed_mesh/bed_mesh_350mm.cfg]
# ----------------------------------------------------------------------------------------

# ----------------------------------------------------------------- SENSORLESS HOMING ----> Select only one line
### --------------------------------------------------------------------------------------
# [include config/software/sensorless_homing/sensorless_TMC2209.cfg]
# [include config/software/sensorless_homing/sensorless_BTT_TMC2240.cfg]
# [include config/software/sensorless_homing/sensorless_MKS_TMC2240.cfg]

### Follow the Klipper documentation here: https://www.klipper3d.org/TMC_Drivers.html#sensorless-homing
### to find the best suited SGTHRS value according to your machine. Then add this value to your
### overrides.cfg as stated in the config/software/sensorless_homing.cfg file!
# ----------------------------------------------------------------------------------------

# --------------------------------------------------------------- FIRMWARE RETRACTION ----
### --------------------------------------------------------------------------------------
[include config/software/firmware_rectraction.cfg]
# ----------------------------------------------------------------------------------------

# ---------------------------------------------------------------------- INPUT SHAPER ----
### --------------------------------------------------------------------------------------
[include config/software/input_shaper.cfg] # Don't forget to calibrate it!
# ----------------------------------------------------------------------------------------

# --------------------------------------------------------------------------- TILTING ----> Select only one line
### --------------------------------------------------------------------------------------
[include config/software/tilting/qgl_350mm.cfg]
# ----------------------------------------------------------------------------------------

# -------------------------------------------------------------------------- SPOOLMAN ----
### --------------------------------------------------------------------------------------
[include config/software/spoolman.cfg]
# ----------------------------------------------------------------------------------------

###################################
### DO NOT EDIT BELOW THIS LINE ###
###################################
[include variables.cfg]
[include mcu.cfg]
[include overrides.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.022275, -0.005225, 0.009775
#*# 	  0.009775, -0.001475, 0.001025
#*# 	  0.033525, 0.003525, 0.009775
#*# 	  0.049775, 0.026025, 0.019775
#*# x_count = 3
#*# y_count = 4
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 130.0
#*# max_x = 219.0
#*# min_y = 119.0
#*# max_y = 230.0
