[gcode_macro PRINT_START]
    # Use PRINT_START for the slicer starting script - please customise for your slicer of choice
gcode: 
    # Parameters

    # Extruder and bed temperatures
    {% set BED_TEMP = params.BED_TEMP|default(printer["gcode_macro _USER_VARIABLES_OTHER"].print_default_bed_temp)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(printer["gcode_macro _USER_VARIABLES_OTHER"].print_default_extruder_temp)|float %}

    # Optional Z adjustement from the slicer profile (ex. use it if you have textured vs smooth slicer profiles) 
    {% set Z_ADJUST = params.Z_ADJUST|default(0)|float %}

    # Heatsoak time of the bed in minutes and chamber temperature wanted
    {% set SOAK = params.SOAK|default(printer["gcode_macro _USER_VARIABLES_OTHER"].print_default_soak)|int %}
    {% set CHAMBER_TEMP = params.CHAMBER|default(printer["gcode_macro _USER_VARIABLES_OTHER"].print_default_chamber_temp)|int %}
    {% set CHAMBER_MAXTIME = params.CHAMBER_MAXTIME|default(printer["gcode_macro _USER_VARIABLES_OTHER"].print_default_chamber_max_heating_time)|int %}

    # Default material type to 'ABS'
    {% set MATERIAL = params.MATERIAL|default(printer["gcode_macro _USER_VARIABLES_OTHER"].print_default_material)|string %}

    # Get bounding box of the first layer
    {% set FL_SIZE = params.SIZE|default("0_0_0_0")|string %}

    # End parameters

    # Set vars
    {% set verbose = printer["gcode_macro _USER_VARIABLES_OTHER"].verbose %}
    {% set St = printer["gcode_macro _USER_VARIABLES_OTHER"].travel_speed * 60 %}
    {% set Px, Py, Pz = printer["gcode_macro _USER_VARIABLES_OTHER"].purge_bucket_xyz|map('float') %}
    
    # Set light intensity while printing
    {% set light_intensity_start_print = printer["gcode_macro _USER_VARIABLES_OTHER"].light_intensity_start_print %}
    {% set light_intensity_printing = printer["gcode_macro _USER_VARIABLES_OTHER"].light_intensity_printing %}
    
    {% set purge_and_brush_enabled = printer["gcode_macro _USER_VARIABLES_OTHER"].purge_and_brush_enabled %}
    {% set chamber_sensor_enabled = printer["gcode_macro _USER_VARIABLES_OTHER"].chamber_temperature_sensor_enabled %}
    {% set zcalib_plugin_enabled = printer["gcode_macro _USER_VARIABLES_OTHER"].zcalib_plugin_enabled %}
    {% set force_homing_in_start_print = printer["gcode_macro _USER_VARIABLES_OTHER"].force_homing_in_start_print %}
    
    {% set max_x = printer.toolhead.axis_maximum.x|float %}
    {% set max_y = printer.toolhead.axis_maximum.y|float %}
    
    LIGHT_ON S={light_intensity_start_print}
   
    CLEAR_PAUSE
    BED_MESH_CLEAR
    SET_GCODE_OFFSET Z=0
    M221 S100
    M220 S100
    G90
    M83

    STATUS_HOMING
    G28 

    #G0 Z110

    {% if (SOAK > 0) and (printer.heater_bed.target < (BED_TEMP - 8)) %}
        {% if CHAMBER_TEMP > 0 %}
            BEDFANSFAST
        {% endif %}
        HEATSOAK_BED TEMP={BED_TEMP} SOAKTIME={SOAK}
    {% else %}  
        {% if CHAMBER_TEMP > 0 %}
            BEDFANSFAST
        {% endif %}
        HEATSOAK_BED TEMP={BED_TEMP} SOAKTIME=0
    {% endif %}


    # ----- CHAMBER HEATSOAK ----------------------------------
    {% if chamber_sensor_enabled %}
        {% if CHAMBER_TEMP > 0 %}
            HEATSOAK_CHAMBER TEMP={CHAMBER_TEMP} MAXTIME={CHAMBER_MAXTIME}
        {% endif %}
    {% endif %}

    RESPOND MSG="Warming up extruder"
    M109 S150


    # ----- QUAD GANTRY LEVELING -----------------------------
    {% if printer.quad_gantry_level.applied|lower == 'false' or force_homing_in_start_print %}
        STATUS_LEVELING
        {% if verbose %}
            RESPOND MSG="QGL..."
        {% endif %}
        QUAD_GANTRY_LEVEL
    {% endif %}

    G28 Z

    # ----- Z CALIBRATION --------------------------------
    STATUS_CALIBRATING_Z
    {% if verbose %}
        RESPOND MSG="Auto Z calibration..."
    {% endif %}
    ATTACH_PROBE_LOCK
    COMPUTE_MESH_PARAMETERS SIZE={FL_SIZE}
    
    #CLEAN_NOZZLE
    
    CALIBRATE_Z


    # ----- BED MESH -------------------------------------------
    STATUS_MESHING
    {% if verbose %}
        RESPOND MSG="Bed mesh measurement..."
    {% endif %}
    
    {% if zcalib_plugin_enabled %}
        ADAPTIVE_BED_MESH
        DOCK_PROBE_UNLOCK
    {% else %}
        ADAPTIVE_BED_MESH SIZE={FL_SIZE}
    {% endif %}


    # ----- EXTRUDER HEATING ---------------------------------
    #G1 X20 Y20 Z10 F{St}
    
    STATUS_HEATING
    G1 X{Px} Y{Py} Z{Pz|int + 20} F{St}
    RESPOND MSG="Heating up extruder"
    M109 S{EXTRUDER_TEMP}
    G4 P{15000 * 0.5}
    {% if verbose %}
        RESPOND MSG="Extruder temperature OK"
    {% endif %}

  
    # ----- PRINT -------------------------------------------
    STATUS_PRINTING
    {% if verbose %}
        RESPOND MSG="Printing!"
    {% endif %}

    PRIME_LINE

    LIGHT_ON S={light_intensity_printing}

    G92 E0.0

[gcode_macro PRIME_LINE]
gcode:
    # Set vars
    {% set St = printer["gcode_macro _USER_VARIABLES_OTHER"].travel_speed * 60 %}
    {% set Sz = printer["gcode_macro _USER_VARIABLES_OTHER"].z_drop_speed * 60 %}
    {% set prime_line_x, prime_line_y = printer["gcode_macro _USER_VARIABLES_OTHER"].prime_line_xy|map('float') %}

    G91
    M83
    G1 Z5 F{Sz}

    ; Starting position
    G90
    G1 X{prime_line_x} Y{prime_line_y} F{St}
    G1 Z0.3 F{Sz|int / 2}

    ; Add pressure in the nozzle
    G92 E0
    G1 E18 F300

    ; Prime line
    G92 E0
    G1 Y{prime_line_y + 80} E10 F2500
    G92 E0
    G1 Y{prime_line_y + 130} E5 F1500

    ; Retract and Z-hop
    G92 E0
    G1 Z4.0 E-0.1 F{Sz}
    G92 E0
    G1 Z5 F{Sz}